language: cpp

sudo: required

install:
  - sudo apt-get install cmake
  - cmake --version

jobs:
  include:
    - os: linux
      compiler: gcc

script:
  - mkdir build
  - cd build
  - cmake .. -DBUILD_DOC=OFF
  - cmake --build .
  - ./test_amaynet
